#container {
    height: 75vw;
    width: 75vw;
    max-height: 400px;
    max-width: 400px;

    --grid-size: 300px;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-gap: 0;
}

.square {
    height: 100%;
    border: 0.10rem solid black;
    --square-color: white;
    background-color: var(--square-color);
}
